*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

.template{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 1fr);
  width: 100vw;
  height: 100vh;
  background-image: url(/placeholder.jpg);
}
.container {
    width: 75vw;
    margin: 0 12%;
}
.up-row{

  text-align: center;
  color: #333;
}
.up-row .first-line{
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  margin: 0;
  padding: 9px 0 0;
  line-height: 39px;
}
.up-row .second-line{
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
}
.up-row .image{
  margin: 18px auto 6px;
}
.image img{
  width: 415px;
  
}
.down-row{
  background-color: #fafafa;

}
.price{
  margin: 0;
  padding-top: 22px;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #333;
  padding-bottom: 34px;
  text-align: center;

}
.price span{
  font-weight: normal;
  text-decoration: line-through;
}
.action{
 text-align: center;
}
.action button{
  
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;

  display: inline-block;
      margin: 0 5.75%;
    width: 340px;
    vertical-align: top;
}
#cancel{
  height: 46px;
  background-color: #FAFAFA;;
  border-style: dashed;
  border-width: 1px;
  border-color: #2e8dd6;
  color: #2e8dd6;
  font-weight: 500;

}
#cancel:hover{
  background-color: #FAFAFA;;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
}
#accept{
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  color:#fff;
  background-color: #2e8dd6;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

@media (max-width: 767px) {
  .template {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
    .up-row{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .up-row .image{
      margin: 36px auto 6px;
    }
    .up-row .first-line{
      font-size: 20px;
      line-height: 30px;
      padding-top: 39px;
      padding-bottom: 20px;
    }
    .up-row .second-line {
      font-size: 12px;
    }
    .first-line {
      width: 335px;
    
    }
    .second-line {
      width:335px;
    }
    .up-row .second-line {
      line-height: 0;

    }
    .image img {
      width: 378px;
      height: 220px;
    }
    .down-row {
      width: 100%;
    }
    .price {
      padding-top: 31px;
      padding-bottom: 25px;
    }
    .action button {
      margin: 0 10px;
    }
    #cancel {
      width: 187px;
      height: 46px;
    }
    
    #accept {
      width: 196px;
      height: 40px;
    }
}
@media  (min-width: 768px) and (max-width: 1024px){
  .template {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
    .up-row{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .up-row .image{
      margin: 24px auto 6px;
    }
    .price {
      padding: 29px 0;
    }
    .first-line {
      width: 716.8px;
    }
    .second-line {
      width:349.83px;
    }
    .image img {
      width: 316px;
      height: 199px;
    }
    .down-row {
      width: 100%;
    }
    #cancel,#accept {
      width: 255.2px;
    }
}